body, html{
    margin: 0;
    text-align: center;
}

.container-site{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.container-topo{
    border: solid black;
    width: 99.5vw;
}

.container-sistema{
    display: flex;
    margin: 2vw;
    justify-content: center;
    align-items: center;
    gap: 2vh;
}

#area{
    background: gray;
    width: 90%;
}

.caixa{
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    background: lightgray;
    margin: 1vw;
}

.divDados{
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid black;
}

.caixaValores{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1vh;
}

.caixaValores p{
    background: rgb(255, 255, 255);
    width: 5vw;
    height: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2vh;
}

.botões{
    background: white;
    border: none;
    color: black;
    height: 5vh;
    font-size: 2vw;
    border-radius: 2vw;
    width: 5vh;
}

.pesquisa{
    margin: 2vw;
}

.menuCaixa{
    width: 50vw;
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#menu-area,
.menu{
    background: gray;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
}